<div ng-controller="AccountController as account" style="background: #fff;overflow: auto;height:100%;padding: 15px;border: 1px solid #cfdbe2;">
    <div class="row">
        <!--<div class="col-md-3 pull-left">-->
            <!--<button class="btn btn-info" ng-click="add(-1)">-->
                <!--添加-->
            <!--</button>-->
        <!--</div>-->

        <!--<div class="col-md-7 pull-right">-->
            <!--<div class="pull-right">-->
                <!--<button class="btn btn-info" ng-click="activate()">-->
                    <!--查询-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="form-group pull-right" style="width:280px;padding-right: 20px;">-->
                <!--<input type="text"-->
                       <!--ng-model="tableParams.searchStr"-->
                       <!--placeholder="输入登录名,姓名或者电话进行查找"-->
                       <!--class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="row">
        <div class="col-md-1">
            第一张头图
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
    </div>

</div>